<html>
<body>
<app-header></app-header>
<main>
<div class="container">
  <span class="heading">User Rating</span>
  <span *ngIf="averageRate && averageRate > 0" class="fa fa-star checked"></span>
  <span *ngIf="!averageRate || averageRate <= 0" class="fa fa-star"></span>
  <span *ngIf="averageRate && averageRate > 1" class="fa fa-star checked"></span>
  <span *ngIf="!averageRate || averageRate <= 1" class="fa fa-star"></span>
  <span *ngIf="averageRate && averageRate > 2" class="fa fa-star checked"></span>
  <span *ngIf="!averageRate || averageRate <= 2" class="fa fa-star"></span>
  <span *ngIf="averageRate && averageRate > 3" class="fa fa-star checked"></span>
  <span *ngIf="!averageRate || averageRate <= 3" class="fa fa-star"></span>
  <span *ngIf="averageRate && averageRate > 4" class="fa fa-star checked"></span>
  <span *ngIf="!averageRate || averageRate <= 4" class="fa fa-star"></span>

  <p *ngIf="averageRate">{{averageRate}} average based on {{reviews.length}} reviews.</p>
  <hr style="border:3px solid #f1f1f1">

  <div class="row">
    <div class="side">
      <div>5 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-5" [style.width]="getWidth(reviews, reviewBetweenScores, 4)"></div>
      </div>
    </div>
    <div class="side right">
      <div>{{reviewBetweenScores[4]}}</div>
    </div>
    <div class="side">
      <div>4 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-4" [style.width]="getWidth(reviews, reviewBetweenScores, 3)"></div>
      </div>
    </div>
    <div class="side right">
      <div>{{reviewBetweenScores[3]}}</div>
    </div>
    <div class="side">
      <div>3 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-3" [style.width]="getWidth(reviews, reviewBetweenScores, 2)"></div>
      </div>
    </div>
    <div class="side right">
      <div>{{reviewBetweenScores[2]}}</div>
    </div>
    <div class="side">
      <div>2 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-2" [style.width]="getWidth(reviews, reviewBetweenScores, 1)"></div>
      </div>
    </div>
    <div class="side right">
      <div>{{reviewBetweenScores[1]}}</div>
    </div>
    <div class="side">
      <div>1 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-1" [style.width]="getWidth(reviews, reviewBetweenScores, 0)"></div>
      </div>
    </div>
    <div class="side right">
      <div>{{reviewBetweenScores[0]}}</div>
    </div>
  </div>


  <!-- reviews -->

        <div class="row">
          <div *ngFor="let review of reviews">
            <hr>
          <div class="col-sm-3">
            <!-- user-->
            <div class="review-block-name"><a href="#">username</a></div>
            <div class="review-block-date">
              <button (click)="like(review)" *ngIf="review.likedStatus === 'unlike'" class="far fa-thumbs-up"></button>
              <button (click)="unlike(review)" *ngIf="review.likedStatus === 'like'" class="far fa-thumbs-down"></button>
              <span></span>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="review-block-rate">
              <button *ngIf="review.rate > 0" type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
              <button *ngIf="review.rate <= 0" type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>

              <button *ngIf="review.rate > 1" type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
              <button *ngIf="review.rate <= 1" type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>

              <button *ngIf="review.rate > 2" type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
              <button *ngIf="review.rate <= 2" type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>

              <button *ngIf="review.rate > 3" type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
              <button *ngIf="review.rate <= 3" type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>

              <button *ngIf="review.rate > 4" type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
              <button *ngIf="review.rate <= 4" type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>

            </div>
            <div class="review-block-title">{{review.title}}</div>
            <div class="review-block-description">{{review.description}}</div>
          </div>
        </div>
        </div>
</div>
</main>> <!-- /container -->
</body>
</html>


