<app-header></app-header>
<main>
  <div class="container">
    <h3>Now Playing Movies</h3>
    <ul class="movie-list-group">
      <li class="media movie-list-group-item" *ngFor="let movie of movies">
        <div class="card media-item" style="width: 100%">
          <img class="card-img-top" [src]="getImageUrlForAMovie(movie.poster_path)" alt="Card image cap">
          <div class="float-right">
            <div class="card-body">
              <h5 class="card-title">{{movie.title}}</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Release Date: {{movie.release_date}}</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">More info</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</main>
<footer>
</footer>
