<header class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Movie Review</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search for a movie" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    <span class="navbar-text navbar-profile">
      <a class="nav-link" href="#">Profile</a>
    </span>
  </nav>
</header>
<main>
  <div class="container">
    <h3>Now Playing Movies</h3>
    <div class="media" *ngFor="let movie of movies">
      <div class="card media-item" style="width: 18rem">
        <img class="card-img-top" [src]="getImageUrlForAMovie(movie.poster_path)" alt="Card image cap">
          <div class="float-right">
            <div class="card-body">
              <h5 class="card-title">{{movie.title}}</h5>
              <p class="card-text">{{movie.overview}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{movie.release_date}}</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">More info</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer></footer>
