body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

main {
  margin-top: 110px;
}

.navbar-profile {
  font-size: 20px;
  font-weight: bold;
}

.media-item {
  margin-top: 20px;
}

li.movie-list-group-item {
  float: left;
  margin-left: 20px;
  width: 20%;
  height: 600px;
}

.card-title {
  height: 60px;
}



