<html>
<app-header></app-header>
<body>
<main>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <img *ngIf="movie.poster_path" class="poster movie-poster" [src]="getImageUrlForAMovie(movie.poster_path)" alt="movie poster">
        </div>
        <div class="col-md movie-description">
          <a href="{{movie.homepage}}" class="movie-title">
            {{movie.original_title}}
          </a>
          <div class="description-content">
            {{movie.release_date}}
          </div>
          <div class="icon description-content">
            <span *ngIf="!averageRate">
              Waiting for review
            </span>
            <span *ngIf="averageRate">
              User Score: {{averageRate}}/5
            </span>
            <a *ngIf="movieInMongo" routerLink="/movie/{{dbId}}/reviews" class="description-content icon-item">Reviews</a>
            <a *ngIf="currUser && movieInMongo && judge()" (click)="addToFavorite()" class=" far fa-heart icon-item"></a>
            <a *ngIf="currUser && movieInMongo && !judge()" (click)="deleteFavorite()" class=" fas fa-heart icon-item"></a>
            <a *ngIf="currUser && movieInMongo" (click)="navigateToReview()" class="fas fa-pen icon-item"></a>
          </div>
          <div class="description-title">
            Genres
          </div>
          <div class="description-content" *ngFor="let genre of movie.genres">
            {{genre.name}}
          </div>
          <div class="description-title">
            Overview
          </div>
          <div class="description-content">
            {{movie.overview}}
          </div>
        </div>
      </div>
    </div>
    <div class="container">

    </div>
</main>
</body>
