<html>
<body>
<app-header></app-header>
<main>
  <div class="container">
    <h3>All Your Followers</h3>
    <div class="card-columns">
      <div class="media movie-list-group-item d-done d-sm-block" *ngFor="let user of users">
        <div class="card">
          <img  class="card-img-top" [src]="user.img" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">
              <a routerLink="/users/{{user.username}}">
                <span class="badge badge-secondary">
                  {{user.username}}
                </span>
              </a>
            </h5>
          </div>
          <div class="card-footer">
            <p><a routerLink="/user/{{user.username}}/follower-list" class="card-link">Followers</a></p>
            <p><a routerLink="/user/{{user.username}}/following-list" class="card-link">Following</a></p>
            <p><a routerLink="/user/{{user.username}}/review-list" class="card-link">Review History</a></p>
            <p><a routerLink="/user/{{user.username}}/favorite-movie" class="card-link">Favorite Movies</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>

