<html>
<app-header></app-header>
<body>
  <div class="home-background">
    <h1>Welcome to User Management!</h1>
    <h2>Be careful!</h2>
  </div>
  <div class="container">
    <h3>Reviews</h3>
    <div class="card-columns">
      <div class="media movie-list-group-item d-done d-sm-block">
        <div class="card">
          <img  class="card-img-top" [src]="" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><span class="badge badge-secondary"></span></h5>
            <h5 class="card-title"><button class="btn btn-block btn-danger">Delete</button></h5>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
