<html>
<body>
<app-header></app-header>
<main>
  <div class="container">
    <h3>All {{otherUser.username}}'s Reviews</h3>
    <div class="card-columns">
      <div class="media movie-list-group-item d-done d-sm-block" *ngFor="let review of reviews">
        <div class="card">
          <img  class="card-img-top" [src]="review.poster_path" alt="Card image cap">
          <div class="card-body">
            <h3>{{review.title}}</h3>
            <p>{{review.description}}</p>>
          </div>
          <div class="card-footer">
            <p>The Rate: <span class="badge badge-secondary">{{review.rate}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>
