<html>
<body>
<app-header></app-header>
<main>
  <div class="container">
    <h3>All {{otherUser.username}}'s Reviews</h3>
    <div class="card-columns">
      <div class="media movie-list-group-item d-done d-sm-block" *ngFor="let review of reviews">
        <div class="card">
          <img  class="card-img-top" [src]="getImageUrlForAMovie(review.poster_path)" alt="Card image cap">
          <div class="card-body">
            <h3>{{review.title}}</h3>
            <p>{{review.description}}</p>
          </div>
          <div class="card-footer">
            <p>The Rate: <span class="badge badge-secondary">{{review.rate}}</span></p>
            <p><span class="badge badge-secondary" routerLink="/movie/{{review.db_id}}">To Movie</span></p>
            <button *ngIf="!owner() && like(review.likeStatus)" (click)="likeReview(review)" class=" far fa-thumbs-up icon-item"></button>
            <button *ngIf="!owner() && !like(review.likeStatus)" (click)="unlikeReview(review)" class=" far fa-thumbs-down icon-item"></button>
            <h5>
              <button *ngIf="owner()" (click) = "deleteReview(review._id)" class="btn btn-block btn-primary">
                Delete
              </button>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>
