.container {
  margin-top: 70px;

  padding-top: 100px;
  padding-bottom: 100px;
  width:100%;

  text-align:center;
}

body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

.media-item {
  margin-top: 20px;
}


h1 {
  padding-top: 180px;
  margin-left: 22%;
  width: 56%;
  margin-bottom: 30px;
}

h2 {
  margin-left: 22%;
  width: 56%;
}

.container {
  margin-top: 30px;
  padding-top: 20px;
}
