<app-header></app-header>
<main>
  <div class="container">
    <h3>Search Results</h3>
    <div class="card-columns">
      <div class="media movie-list-group-item d-done d-sm-block" *ngFor="let movie of movies">
        <div class="card media-item">
          <img  class="card-img-top" [src]="getImageUrlForAMovie(movie.poster_path)" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
          </div>
          <div class="card-footer">
            <p>{{movie.release_date}}</p>
            <a routerLink="/movie/{{movie.id}}" class="card-link">More info</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
</footer>
